*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-dark);

}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-white);
}
.container {
    width: 100%;
    height: 100%;
    display:flex;

}

.sidebar{
    width: 100px;
    background-color: var(--color-primary);
}

.side img {
    max-width: 100%;
}
nav {
    height: 100px;
    background-color: var(--background-light);
    width: calc(100vw-100px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.btn {
    padding: 20px 30px;
    border-radius: 10px;
    transition: all 2 ease-in-out;


}
.btn:houver {
    transition: all .3s ease-in-out;
    transform: scale(1.05);

}

.btn-primary {
    background-color: var(--color-primary);
    color:white;
}


main{
    display:flex;
    padding: 0px;

}
section.graph {
    width:33%;
    height: 100%;
    padding: 20px 20px 0 20px;
}

.header_graph {
    display: flex;
    justify-content: space-between;
}
h2 {
    flex: 2;
    font-size: 18px;
    display: inline-block;
}
.graph_header-line {
    display: inline-block;
    background-color: rgba(0, 0,0, .20);
    width: 130px;
    height: 2px;
}
.graph-component-date {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    display: inline-block;

}

a.btn {
    margin-left: 5px;
    text-decoration: none;
}
.graph_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.section.graph {
    width:33%;
    height: 100%;
    padding: 5px;
}
.graph_header_subtitle {
    margin-top: 10px;
}
.graph-placeholder {
    background-color: #ccc;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 35px;
    background: url('/assets/imgages/graph.png');
    background-size: contain ;
}
.taks_left_footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
.list_header {
    display: flex;

}
.list {
    padding: 20px 20px 0 20px;
    flex: 1;

}
.list_header-select{
    background-color: transparent;
    border: 0;
    font-weight: bold;
    font-size: 9px;
}

.task_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    margin-bottom: 10px;
    background-color: 1px solid var(--background-light);
    transition: all .3 ease-in-out;
}
.task:hover {
    transform: scale(1.05);
    border-radius: 10px;

}
.actions>a:hover {
    transform: scale(1.05);
}
.title{
    display: flex;
    align-items: center;

}

.priority, .actions {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;

}
.task_title {
    padding-left: 10px;
    font-weight: bold;
}
.sphere {
    width: 22px;
    height: 22px;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;


}

.actions {
    display: flex;
    justify-content: flex-end;
    transition: all .3s ease-in-out;
}
.action a {
    margin-left: 20px;
    margin-right: 10px;

}

:root{
    --background-light: #F0F2FA;
    --text-dark: #0A0040
    --background-white: #F6F5FF;
    --color-primary:#6143FF;
}

